.rc-slider-handle {
  border: 1px solid #008489;
  margin-left: -14px;
  margin-top: -12px;
  width: 28px;
  height: 28px;
}

.rc-slider-handle:hover {
  border: 1px solid #008489;
}

.rc-slider-track {
  background-color: #008489;
}
