.review-header {
  div {
    div {
      z-index: -500;
    }
    span {
      z-index: -1;
      cursor: default !important;
    }
  }
}

.display-all-rooms  {
  ul {
    li {
      div {
        z-index: -500;
        div {
          z-index: 1;
        }
        span {
          z-index: -1;
          cursor: default !important;
        }
      }
    }
  }
}

.review-details {
  div {
    div {
      z-index: -500;
    }

    span {
      z-index: -1;
      cursor: default !important;
    }
  }
}

.react-stars-half::before {
  position: absolute;
  overflow: hidden;
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50%;
  content: attr(data-forhalf);
  color: #00BEC5;
}
