.search-params-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  top: 80px;
  background-color: white;
  border-top: 1px solid $bnb-light-grey;
  border-bottom: 1px solid $bnb-light-grey;
  padding: none;
  margin: none;
  height: 60px;
  z-index: 2;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    li {
      padding-left: 15px;
      // min-width: 150px;
      h2 {
        font-size: 10px;
      }
    }
  }
}
