.bed-content {
  font-size: 19px;
  font-weight: 300;
  color: #484848;
}

.bed-buttons {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-stretch: 100%;
  padding-top: 20px;
  justify-content: space-between;
  font-weight: bolder;
  cursor: pointer;
  :hover {
    text-decoration: underline;
  }
}

.apply {
  color: #008489;
}
