.footer, .footer-alt {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $background;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
  padding-top: 5px;
  padding-bottom: 15px;
  a {
    color: grey;
    text-decoration: none;
    padding: 5px;
  }
  .links {
    display: flex;
    flex-direction: row;
    div {
      padding: 15px;
    }
    a {
      color: grey;
      text-decoration: none;
      padding: 15px;
    }
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.creator:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-alt {
  border-top: 1px solid lightgrey;
  position: relative;
}
