header {
  width: 100%;
  box-shadow: 0 0 2px 0px gray;
}
body {
  margin: 0 auto;
}

 .header {
   position: fixed;
   z-index: 1000;
   background: white;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   height: 70px;
  //  width: 100vw;
   left: 18px;
   right: 18px;
 }

 .left-header-group {
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 50px;
 }

 .right-header-group > nav {
   display: flex;
   flex-direction: row;
   height: 60px;
   button {
     cursor: pointer;
     outline: none;
     border: none;
     background: none;
     text-decoration: none;
     padding-top: 10px;
     padding-right: 15px;
     padding-left: 15px;

     //question about no underline on div
     h4 {
       font-family: sans-serif;
       font-size: 13px;
       letter-spacing: 1px;
       font-weight: normal;
       color: #505050;
     }
     img {
       padding-top: 8px;
     }

   }
   button:hover {
     padding-bottom: 10px;
     border-bottom: 2px solid grey;
   }
 }


.left-header-group {
  img {
    padding-top: 18px;
    padding-right: 40px;
    padding-left: 20px;
  }
  input {
    width: 100%;
    padding: 20px 30px;
    margin: 18px 0px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    border: 2px solid lightgrey;
    border-radius: 3px;
    // -webkit-transition: width 0.4s ease-in-out;
    // transition: width 0.4s ease-in-out;
  }
  h2 {
    padding: 5px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    // border: 3px solid grey;
  }
}

#header-padder {
  padding: 60px;
}
