.searchMap-container{
  position: fixed;
  top: 141px;
  right: 0;
}

.placeholder {
  display: block;
  width: 100%;
  height: 100%;
}

.searchMap {
  min-width: 48vw;
  width:100%;
  height: 78vh;
}

.stars-count-host {
  display: flex;
  flex-direction: row;
}

.display-all-rooms {
  margin-top: 50px;
  display: block;
  width: 50%;
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    li {
      -webkit-box-flex: auto;
      -ms-flex: auto;
      flex: auto;
      width: 200px;
      margin: .5vw;
      img {
        width: 100%;
        height: 200px;
        border-radius: 4px;
      }
      h4, h5 {
        margin: 0;
      }
      h5 {
        font-weight: lighter;
      }
    }
  }
}

.rooms-map-main-container {
  min-width: 100px;
  padding-top: 20px;
}
