.modal-overlay {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color : rgba(255, 255, 255, 0.7);
  z-index          : 10000
}

.modal {
  background-color: white;
  border: 1px solid lightgrey;
  outline: none;
  position        : fixed;
  top             : 50px;
  left            : 50%;
  transform       : translate(-50%, 10px);
  width           : 500px;
  max-width        : 100%;
  border-radius    : 0px;
  padding         : 20px;
  z-index          : 11;
}

.modal-beds, .modal-guests, .modal-price {
  background-color: white;
  border: 1px solid lightgrey;
  outline: none;
  position        : fixed;
  top             : 130px;
  left            : 45px;
  width           : 250px;
  max-width        : 100%;
  border-radius    : 6px;
  padding         : 20px;
  z-index          : 11;
}

.modal-guests {
  left: 200px;
}

.modal-price {
  left: 355px;
}

.modal-price-display {
  font-size: 19px;
  font-weight: 300;
  color: #484848;
  padding-bottom: 40px;
}
