.modal-overlay {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color : rgba(255, 255, 255, 0.7);
  z-index          : 10000
}

.modal {
  background-color: white;
  border: 1px solid lightgrey;
  outline: none;
  position        : fixed;
  top             : 50px;
  left            : 50%;
  transform       : translate(-50%, 10px);
  width           : 500px;
  max-width        : 100%;
  border-radius    : 0px;
  padding         : 20px;
  z-index          : 11;
}

.modal-beds, .modal-guests, .modal-price {
  background-color: white;
  border: 1px solid lightgrey;
  outline: none;
  position        : fixed;
  top             : 130px;
  left            : 55px;
  width           : 250px;
  max-width        : 100%;
  border-radius    : 6px;
  padding         : 20px;
  z-index          : 11;
}

.modal-guests {
  left: 164px;
}

.modal-price {
  left: 269px;
}

.modal-price-display {
  font-size: 19px;
  font-weight: 300;
  color: #484848;
  padding-bottom: 40px;
}

.help-modal {
  padding: 30px;
  padding-bottom: 60px;
  width: 700px;
  top: 70px;
  position: fixed;
  overflow: scroll;

  height: 300px;
  color: $bnb-darker-grey;
  .X {
    color:  $bnb-darker-grey;
    right: 40px;
  }
  div {
    h2 {
      font-size: 30px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    h3 {
      font-size: 20px;
      font-weight: normal;
      // padding-bottom: 5px;
    }
    ul {
      color: $bnb-green;
      font-size: 16px;
      font-weight: lighter;
      list-style-type: disc;
      li {
        padding: 5px;
      }
    }
  }
}

.ul-title {
  list-style-type: none;
  font-weight: bold;
}
