// .new-room-form-container {
//   display: flex;
//   flex-direction: row;
// }
.new-room-form-box {
  display: flex;
  flex-direction: row;
// border: 3px solid red;
}


.new-room-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 75px;
  input {
    // height: 20px;
    display: block;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
    vertical-align: middle;
    // padding-top: 20px;
    // padding-bottom: 20px;
  }
  textarea {
    padding-top: 8px;
    padding-left: 15px;
    height: 50px;
    font-size: 14px;
  }
  .padder{
    height: 10px;

  }
  h2 {
    // height: 10px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
  }
  h3 {
    // height: 2px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: lighter;
    color: grey;
  }
  select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    height: 30px;
    font-size: 16px;
    appearance: none;
    padding: 10px;
    option {
      align-items: center;
    }
     border-radius: 4px;
  }
  button {
    margin-top: 20px;
    cursor: pointer;
    background: $orange;
    color: white;
    border: none;

    border-radius: 5px;
    height: 50px;
    font-size: 30px;
  }
  button:hover {
    background: orange;
  }
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}
.map-container {
  // border: 3px solid green;
  position: sticky;
  top: 120px;
  // padding: 10px;
  width: 100%;
  height: 100%;

}

.map {
  // border: 3px solid red;
  // display:inline-block;
  width: 100%;
  height: 80vh;

}
.img-drop-container {
  display: flex;
  justify-content: center;
  img {
    height: 200px;
    width: 200px;
  }
}

.FileUpload {
  display: inline-block;
  width: 100%;
  justify-content: center;
  .dropzone {
    width : 100%;
    height : 100px;
    border: 1px dashed grey;
    display: flex;
    align-items: center;
    justify-content: center;
    p:hover {
      cursor: pointer;
      text-decoration: underline;
    }

  }

}
