.show-page-picture {
  padding-top: 40%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.show-page-nav-links {
  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    .dot{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.show-page-title {
  display: flex;
  color: $bnb-darker-grey;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid lightgrey;
  h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 0.4px;
  }
  h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    letter-spacing: 0.2px;
    color: grey;
    font-weight: lighter;
  }
}

.show-page-features {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      color: grey;
      h4 {
        font-weight: lighter;
      }
    }
  }
}

.show-page-description {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  color: $bnb-darker-grey;
  border-bottom: 1px solid lightgrey;
  h2 {
    font-size: 22px;
    font-weight: normal;
  }
  h4 {
    font-size: 17px;
    font-weight: 500;
    padding-left: 20px;
  }
  p {
    padding-left: 40px;
    font-weight: lighter;
  }
}
.show-page-more-details {
  .detail-container, .detail-container-cancellation {
    color: $bnb-darker-grey;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .detail-item {
    margin-left: 20px;
    margin-right: 20px;
    width: 10%;
    min-width: 90px;
    padding-top: 18px;
    h4 {
      font-weight: 400;
    }

  }
  .detail-list {
    border-bottom: 1px solid lightgrey;
    margin-left: 0;
    width: 100%;
    margin-right: 20px;
    ul{
      margin-left: 0;
      padding-left: 0;
      max-width: 455px;
      margin-bottom: 20px;

      overflow: hidden;
      flex-direction: row;
      justify-content: flex-start;


      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 225px;
        height: 50px;
        line-height:1.5em;
        float: left;
        h4 {
          padding-left: 10px;
          font-weight: normal;
        }
        #cost-bold {
          font-size: 20px;
          font-weight: bolder;
        }
      }
      .detail-list-name {

        font-weight: lighter;
      }
    }
  }

}

.detail-container-cancellation {
  #cancellation-text, #cancellation-policy{
    max-width: 455px;
    min-width: 100px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-weight: lighter;
  }


}

.floating-booking {
  padding-left: 20px;
  div {
    padding-left: 10px;
  }
}

.guest-booking {
  padding: 10px;
  padding-bottom: 80px;
  width: 350px;
  border: 1px solid lightgrey;
  div {
    h2 {
      font-size: 15px;
    }
    input {
      font-size: 15px;
      margin-left: 20px;
    }
  }
}

.calculate-button {
    display: flex;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    // background-color: $orange;
    color: white;
}

.book-room-show-price {
  padding: 10px;
  padding-bottom: 80px;
  width: 400px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    flex-direction: row;
    h2 {
      font-weight: lighter;
    }
    .booking-price {
      font-weight: bolder;
      padding-left: 5px;
    }
  }
}


.show-room-container {
  text-align: center;
}

.show-main-content {
  text-align: left;
  display: flex;
  flex-direction: row;

  margin-left: 10vw;
  margin-right: 10vw;

}

.room-details {
  width: 100%;
  // background-color: red;
}

#floating-booking {
  width: 450px;
  min-width: 450px;
  // background-color: green;
  padding-top: 20px;
  display: flex;
  justify-content: center
  // position: fixed;
  // padding-top: 300px;
  // top: 100px;
  // right: 0;
}

#floating-booking-placeholder {
  width: 450px;
  min-width: 450px;

  // background-color: orange
  // position: fixed;
  // padding-top: 300px;
  // top: 100px;
  // right: 0;
}
//
// .show-main-content > * {
//   padding: 10px;
//   flex: 1 100%;
// }
//
//
//
// .flex-item {
//   flex-grow: 1;
//   flex-basis: 100px;
//   flex-grow: inherit;
// }
//
//
// .room-details {
//   flex: 5;
//   background-color: green;
// }
//
// .floating-booking {
//   // flex: 4;
//   background-color: red;
// }


// .booking-item




// div#wrapper {
//     margin:0 auto;
//     width:900px;
//     background:#FFF;
// }
// div#mainContent {
//     width:560px;
//     padding:20px;
//     float:left;
// }
// div#sideBar {
//     width:230px;
//     padding:20px;
//     margin-left:30px;
//     float:left;
// }
// .clear {
//     clear:both;
// }
.sticker {
    // padding:20px;
    // margin:20px 0;
    // background:#AAA;
    width:190px;
}
.stick {
    position:fixed;
    top: 80px;
    right: 0;
    margin-right: 10vw;
}


.guest-booking {
  padding: 40px;
  color: $bnb-darker-grey;
  background-color: white;
}

#booking-item-1 {
  #booking-item-1-price {
    font-size: 20px;
  }
  padding: 5px 0;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid lightgrey;

}

#booking-item-2 {
  padding: 10px 0;
  display: flex;
  flex-direction:column;
}

#booking-item-3 {
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  // text-align: center;
  input {
    height: 52px;
    margin-left: 0;
    padding: none;
  }

}

#booking-item-tag {
  padding-bottom: 5px;
  font-size: 14px;
}
.date-range-picker-wrapper {
  // text-align: center;

}

.DateRangePickerInput {
  width: 348px;
  padding: 1px;
}

.css-jgdrvu {
  div {
    font-family: sans-serif;
    font-weight: bolder;
    color: $bnb-darker-grey;
  }
}

.booking-content {
  font-weight: 300;
  background-color: white;
  padding: 5px 20px;
  border: 1px solid lightgrey;
  div {
    .css-jgdrvu {
      div {
        color: white;
      }
    }
  }
}

.booking-item-4 {
  div {
    display: flex;
    font-weight: lighter;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 12px 0;
    border-bottom: 1px solid lightgrey;
  }
}

#booking-item-4-total-cost {
  font-weight: bold;
  // padding-bottom: 10px;
  border: 0;
}

.booking-button-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  button {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 14px;
    border-radius: 4px;
    font-size: 19px;
    text-align: center;
    align-content: center;
    background-color: $bnb-pink;
    font-weight: 700;
    color: white;
  }
}
.css-1vy3jc0, {
  color: white !important;
  background-color: $bnb-green !important;
}
